<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vaid</title>
    <!-- css -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/vaid.css">
    <!-- js -->
    <script src="./js/script.js" defer></script>
    <!-- <script src="./js/custom-elements/header.js" defer></script> -->
</head>

<body>

    <header class="vaid-background-image ">
        <div class="container-xxl">

            <div class="navbar d-flex flex-row-reverse">
                <button class="nav-dropdown-btn nav-btn"></button>
                <div class="nav-content py-2 px-2">
                    <div class="d-flex justify-content-center align-items-center py-1 px-1">
                        <div class="d-flex flex-column">
                            <button class="nav-theme-btn nav-btn mx-2 my-2">    
                            </button>
    
                            <button class="nav-btn mx-2 my-2">    
                            </button>
                        </div>

                        <div class="d-flex flex-column">
                            <button class="nav-btn mx-2 my-2">    
                            </button>
    
                            <button class="nav-btn mx-2 my-2">    
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>


        <main>
            <div class="container py-4">
                <div class="h-100 p-5 bg-body-tertiary border rounded-2">

                    

                </div>
            </div>
        </main>

        <footer>
            <div class="container">
                <div class="pt-3 mt-4 text-body-secondary">
                    vaid | Vikrant barul
                </div>
            </div>
        </footer>
</body>

</html>