<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ved</title>
    <!-- css -->
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/ved.css">
    <!-- js -->
    <script src="./js/script.js" defer></script>
</head>

<body>

    <header>
        <div class="container-xxl shadow">
            <div class="navbar d-flex flex-row-reverse">
                <button class="nav-dropdown-btn vd-nav-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path
                            d="M5 11h4c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v4c0 1.1.9 2 2 2zm0 10h4c1.1 0 2-.9 2-2v-4c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v4c0 1.1.9 2 2 2zm8-16v4c0 1.1.9 2 2 2h4c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-4c-1.1 0-2 .9-2 2zm2 16h4c1.1 0 2-.9 2-2v-4c0-1.1-.9-2-2-2h-4c-1.1 0-2 .9-2 2v4c0 1.1.9 2 2 2z" />
                    </svg>
                </button>
                <div class="nav-content border py-2 px-2">
                    <div class="d-flex justify-content-center align-items-center py-1 px-1">
                        <div class="d-flex flex-column">
                            <button class="nav-theme-btn vd-nav-btn mx-2 my-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path
                                        d="M12 22c5.52 0 10-4.48 10-10S17.52 2 12 2 2 6.48 2 12s4.48 10 10 10zm1-17.93c3.94.49 7 3.85 7 7.93s-3.05 7.44-7 7.93V4.07z" />
                                </svg>
                            </button>
                            <a class="vd-nav-btn mx-2 my-2" href="/public/">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path
                                        d="M20 9c0-.55-.45-1-1-1h-3V5c0-.55-.45-1-1-1s-1 .45-1 1v3h-4V5c0-.55-.45-1-1-1s-1 .45-1 1v3H5c-.55 0-1 .45-1 1s.45 1 1 1h3v4H5c-.55 0-1 .45-1 1s.45 1 1 1h3v3c0 .55.45 1 1 1s1-.45 1-1v-3h4v3c0 .55.45 1 1 1s1-.45 1-1v-3h3c.55 0 1-.45 1-1s-.45-1-1-1h-3v-4h3c.55 0 1-.45 1-1zm-6 5h-4v-4h4v4z" />
                                </svg>
                            </a>

                        </div>
                        <div class="d-flex flex-column">
                            <a class="vd-nav-btn mx-2 my-2" href="/public/">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path
                                        d="M10 19v-5h4v5c0 .55.45 1 1 1h3c.55 0 1-.45 1-1v-7h1.7c.46 0 .68-.57.33-.87L12.67 3.6c-.38-.34-.96-.34-1.34 0l-8.36 7.53c-.34.3-.13.87.33.87H5v7c0 .55.45 1 1 1h3c.55 0 1-.45 1-1z" />
                                </svg>
                            </a>
                            <a class="vd-nav-btn mx-2 my-2" href="/public/">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 15c-.55 0-1-.45-1-1v-4c0-.55.45-1 1-1s1 .45 1 1v4c0 .55-.45 1-1 1zm1-8h-2V7h2v2z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container py-4">
            <div class="card card-cover p-4 p-md-5 mb-4 overflow-hidden text-bg-dark border rounded-4 shadow-lg"
                style="background-image: url('.')" ;>
                <div class="col-lg-6 px-0">
                    <code class="language-plaintext highlighter-rouge">&lt;h1 class="display-4"&gt;</code>
                    <h1 class="display-4">Title of a longer featured blog post</h1>
                    <code class="language-plaintext highlighter-rouge">&lt;/h1&gt;</code>
                    </br>
                    <code class="language-plaintext highlighter-rouge">&lt;p class="lead my-2"&gt;</code>
                    <p class="lead my-2">Multiple lines of text that form the lede, informing new readers quickly
                        and efficiently about what’s most interesting in this post’s contents.</p>
                    <code class="language-plaintext highlighter-rouge">&lt;/p&gt;</code>
                </div>

            </div>


            <div class="row g-5">
                <div class="col-md-8">

                    <article class="blog-post">
                        <h2 class="display-5 link-body-emphasis mb-1">Sample blog post</h2>
                        <p class="blog-post-meta">January 1, 2021 <span>|</span> <a class="text-decoration-none"
                                href="#">Mark</a></p>

                        <p>This blog post shows a few different types of content that’s supported and styled with
                            Bootstrap. Basic typography, lists, tables, images, code, and more are all supported as
                            expected.</p>
                        <figure>
                            <blockquote class="blockquote">
                                <p>A well-known quote, contained in a blockquote element.</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                Someone famous in <cite title="Source Title">Source Title</cite>
                            </figcaption>
                        </figure>
                        <p>This is some additional paragraph placeholder content. It has been written to fill the
                            available space and show how a longer snippet of text affects the surrounding content. We'll
                            repeat it often to keep the demonstration flowing, so be on the lookout for this exact same
                            string of text.</p>
                        <h3>Example lists</h3>
                        <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the
                            other highly repetitive body text used throughout. This is an example unordered list:</p>
                        <ul>
                            <li>First list item</li>
                            <li>Second list item with a longer description</li>
                            <li>Third list item to close it out</li>
                        </ul>
                        <p>And this is an ordered list:</p>
                        <ol>
                            <li>First list item</li>
                            <li>Second list item with a longer description</li>
                            <li>Third list item to close it out</li>
                        </ol>
                        <p>And this is a definition list:</p>
                        <dl>
                            <dt>HyperText Markup Language (HTML)</dt>
                            <dd>The language used to describe and define the content of a Web page</dd>
                            <dt>Cascading Style Sheets (CSS)</dt>
                            <dd>Used to describe the appearance of Web content</dd>
                            <dt>JavaScript (JS)</dt>
                            <dd>The programming language used to build advanced Web sites and applications</dd>
                        </dl>
                        <h2>Inline HTML elements</h2>
                        <p>HTML defines a long list of available inline tags, a complete list of which can be found on
                            the <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element">Mozilla Developer
                                Network</a>.</p>
                        <ul>
                            <li><strong>To bold text</strong>, use <code
                                    class="language-plaintext highlighter-rouge">&lt;strong&gt;</code>.</li>
                            <li><em>To italicize text</em>, use <code
                                    class="language-plaintext highlighter-rouge">&lt;em&gt;</code>.</li>
                            <li>Abbreviations, like <abbr title="HyperText Markup Language">HTML</abbr> should use <code
                                    class="language-plaintext highlighter-rouge">&lt;abbr&gt;</code>, with an optional
                                <code class="language-plaintext highlighter-rouge">title</code> attribute for the full
                                phrase.
                            </li>
                            <li>Citations, like <cite>— Mark Otto</cite>, should use <code
                                    class="language-plaintext highlighter-rouge">&lt;cite&gt;</code>.</li>
                            <li><del>Deleted</del> text should use <code
                                    class="language-plaintext highlighter-rouge">&lt;del&gt;</code> and
                                <ins>inserted</ins> text should use <code
                                    class="language-plaintext highlighter-rouge">&lt;ins&gt;</code>.
                            </li>
                            <li>Superscript <sup>text</sup> uses <code
                                    class="language-plaintext highlighter-rouge">&lt;sup&gt;</code> and subscript
                                <sub>text</sub> uses <code
                                    class="language-plaintext highlighter-rouge">&lt;sub&gt;</code>.
                            </li>
                        </ul>
                        <p>Most of these elements are styled by browsers with few modifications on our part.</p>
                        <h2>Heading</h2>
                        <p>This is some additional paragraph placeholder content. It has been written to fill the
                            available space and show how a longer snippet of text affects the surrounding content. We'll
                            repeat it often to keep the demonstration flowing, so be on the lookout for this exact same
                            string of text.</p>
                        <h3>Sub-heading</h3>
                        <p>This is some additional paragraph placeholder content. It has been written to fill the
                            available space and show how a longer snippet of text affects the surrounding content. We'll
                            repeat it often to keep the demonstration flowing, so be on the lookout for this exact same
                            string of text.</p>
                        <pre><code>Example code block</code></pre>
                        <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the
                            other highly repetitive body text used throughout.</p>
                    </article>

                    <div class="px-2 py-2 border rounded-2">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-unstyled"><a class="text-decoration-none" href="/public/">#tag</a></li>
                        </ul>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="position-sticky" style="top: 2rem;">
                        <div class="p-4 mb-3 bg-body-tertiary shadow-sm rounded">
                            <h4 class="">About</h4>
                            <p class="mb-0">Join me on a journey through cyber tech, cybersecurity, digital forensics,
                                and penetration testing—a gateway to innovation and proactive defense in the
                                interconnected digital landscape.
                            </p>
                        </div>

                        <div>
                            <h4>Recent posts</h4>
                            <ul class="list-unstyled">
                                <li>
                                    <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                        href="#">
                                        <svg class="bd-placeholder-img rounded-2" width="100%" height="96"
                                            xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                            preserveAspectRatio="xMidYMid slice" focusable="false">
                                            <rect width="100%" height="100%" fill="#777"></rect>
                                        </svg>
                                        <div class="col-lg-8">
                                            <h6 class="mb-0">Example blog post title</h6>
                                            <small class="text-body-secondary">January 15, 2023</small>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                        href="#">
                                        <svg class="bd-placeholder-img rounded-2" width="100%" height="96"
                                            xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                            preserveAspectRatio="xMidYMid slice" focusable="false">
                                            <rect width="100%" height="100%" fill="#777"></rect>
                                        </svg>
                                        <div class="col-lg-8">
                                            <h6 class="mb-0">This is another blog post title</h6>
                                            <small class="text-body-secondary">January 14, 2023</small>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                        href="#">
                                        <svg class="bd-placeholder-img rounded-2" width="100%" height="96"
                                            xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                            preserveAspectRatio="xMidYMid slice" focusable="false">
                                            <rect width="100%" height="100%" fill="#777"></rect>
                                        </svg>
                                        <div class="col-lg-8">
                                            <h6 class="mb-0">Longer blog post title: This one has multiple lines!
                                            </h6>
                                            <small class="text-body-secondary">January 13, 2023</small>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                        href="#">
                                        <svg class="bd-placeholder-img rounded-2" width="100%" height="96"
                                            xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                            preserveAspectRatio="xMidYMid slice" focusable="false">
                                            <rect width="100%" height="100%" fill="#777"></rect>
                                        </svg>
                                        <div class="col-lg-8">
                                            <h6 class="mb-0">Longer blog post title: This one has multiple lines!
                                            </h6>
                                            <small class="text-body-secondary">January 12, 2023</small>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="p-4">
                            <h4>Elsewhere</h4>
                            <ol class="list-unstyled">
                                <li><a href="#">GitHub</a></li>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Facebook</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <div class="container">
            <div class="py-2 my-4 text-body-secondary">
                vaid | Vikrant barul
            </div>
        </div>
    </footer>
</body>

</html>