/* root elements */
:root,
/* light theme elements */
[data-vd-theme=light] {
    /* background-image */
    --vd-body-bg-py-rgba: rgba(255,255,255, .01);
    --vd-body-bg-sy-rgba: rgba(255,255,255, 1);
    --vd-primary-rgba: rgba(13, 110, 253);
    --vd-accent-rgba: rgba(255,228,132, 0.5);
    --vd-indigo-rgba: rgba(102, 16, 242);
    --vd-pink-rgba: rgba(214, 51, 132);
}

/* dark theme elements */
[data-vd-theme=dark] {
    color-scheme: dark;
    /* background-image */
    --vd-body-bg-py-rgba: rgba(33,37,41, .01);
    --vd-body-bg-sy-rgba: rgba(33,37,41, 1);
}

.vaid-background-image {
    background-image: linear-gradient(180deg, var(--vd-body-bg-py-rgba), var(--vd-body-bg-sy-rgba) 85%),
        radial-gradient(ellipse at top left, var(--vd-primary-rgba), transparent 50%),
        radial-gradient(ellipse at top right, var(--vd-accent-rgba), transparent 50%),
        radial-gradient(ellipse at center right, var(--vd-indigo-rgba), transparent 50%),
        radial-gradient(ellipse at center left, var(--vd-pink-rgba), transparent 50%);
}

.vd-nav-btn path {
    fill: var(--vd-secondary-color-rgb);
}

.vd-nav-btn {
    display: flex; 
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 1rem;
    height: 2.8rem;
    width: 2.8rem;
    font-size: 1.4rem;
    background-color: var(--vd-body-bg-rgb);
    border: var(--vd-border-width) var(--vd-border-style) var(--vd-border-color) !important
}

.nav-content {
    display: none;
    position: absolute;
    top: 4rem;
    right: 0rem;
    border-radius: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: var(--vd-body-bg-rgb);
    z-index: 1;
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}




